.footer {
    max-width: 100%;
    margin: auto;
    overflow: auto;
    background: #161212;
    padding: 1rem 1rem;

    .footer-cols {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 5px;
    }

    a {
        color: #999;
        font-size: 0.1rem;
    }

    p{
        margin-bottom: 1rem;
        color: rgb(202, 45, 45);
    }

  }